font {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}


body {
    margin: 0;
}

.top-header {
    justify-content: center;
    background-color: #191919;
    display: flex;

}

.topbar {
    align-items: center;
    width: 1170px;
    background-color: #191919;
    justify-content: space-between;
    display: flex;
    height: 40px;

}

.left-social-icons {

    font-size: 17px;
    color: #6c6c6c;
    display: flex;
    gap: 14.5px;
    margin-left: 2px;
    margin-top: 3px;

}

.left-social-icons a {
    color: #707070;
    outline: none;
    text-decoration: none;
}

.right-profile-icons {

    margin-top: 3px;
    gap: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #6c6c6c;
    display: flex;
}

.right-profile-icons a {
    color: #707070;
    outline: none;
    text-decoration: none;
}

.account-circle {
    font-size: 19px;
    margin-top: 3px;
}

.left-atag {

    margin-bottom: 2px;
    margin-right: 1px;
    gap: 4px;
    display: flex;
    line-height: 23px;
}

.right-atag {
    /* margin-left: 1px; */
    margin-bottom: 2px;
    display: flex;

}

.sign-in-icon {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 500;

}

.language-icon {

    font-size: 19px;
    margin-top: 3px;

}

.eng-icon {
    width: 24px;
    font-weight: 500;
    margin-left: 4px;
    margin-top: 6px;
    font-size: 12px;
}

.expand-more-icon {

    margin-top: 2px;
    margin-left: 1px;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 1px;
    width: 14px;
}

.vertical-line-topbar {

    border-left: 1px solid #6c6c6c;
    height: 20px;
    margin-top: 3px;
}

.center-header {
    height: 800px;
    background-image: url(../images/headermain.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 63px;
}

.navigationbar {
    align-items: center;
    display: flex;
    justify-content: center;
}


.navlist {

    width: 1170px;
    color: #ffffff;
    display: flex;

}

.left-icon-container li {
    margin: 13px 14px;

}

.main-header {background-image: url(../images/headermain.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 62px;}

.list-icons {vertical-align: top;
    width: 16px;
    margin-top: -3px;}

.home {
    padding-left: 13px;
    display: flex;
    border-bottom: 5px solid #ff4081;
}


.millennial-container {

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 8px;
    font-size: 40px;

}

.top-navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* margin-right:73px */


.pasco {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    /* margin-left: 1px; */
    margin-top: 17px;
    float: left;
    margin-right: 55px;
    color: #ffffff;
}


.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    display: flex;
}

.navbar li {
    float: left;
    height: 39px;
    list-style: none;
}

.navbar ul {
    float: right;
}

.right-icon-container {font-size: 19px;
    margin-top: 2px;}

.vertical-line-navbar {border-left: 1px solid #6c6c6c;
    height: 30px;}


.right-icon-container {margin-left: 48px;
    gap: 10px;
    font-size: 19px;
    margin-top: 20px;
    display: flex;}

.search {margin-top: 5px;
    margin-right: 3px;}

.favorite-border {margin-top: 5px;
    margin-right: 1px;}

.shopping_cart {margin-top: 3px;
    margin-left: 3px;}

.navbar a {color: #ffffff;
    outline: none;
    text-decoration: none;}

.image-content { width: 100%;}

.centeral-container {margin-left: 48px;
    display: grid;
    justify-items: center;
    margin-top: 176px;}

.inspiration-container {margin-right: 42px;
    font-size: 21px;
    font-weight: 500;
    color: #bdbdbe;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;}

.heading-container {margin-bottom: 3px;
    margin-top: 13px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-right: 44px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;}


.millennial-container {color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 8px;
    font-size: 42px;}



.future-container {color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 40px;
    font-size: 42px;}

.read-button {cursor: pointer;
        margin-right: 43px;
        margin-top: 27px;
        border-radius: 30px;
        background-color: #303f9f;
        font-size: 17px;
        font-weight: 400;
        padding-left: 7;
        letter-spacing: 1px;
        color: #ffffff;
        height: 45px;
        width: 170px;
        border: none;
        font-family: 'Montserrat', sans-serif;}

.authordetails-container {margin-top: 77px;
    display: grid;
    justify-content: center;}

.henry-container {margin-bottom: 7px;
    margin-top: 15px;
    margin-left: 72px;
    /* display: flex; */
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    justify-content: center;
    color: #fbfbfb;
    font-family: 'Montserrat', sans-serif;}

.henry-image1 {
    margin-top: 27px;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    justify-content: center;
    color: #4e4e4e;
    font-family: 'Montserrat', sans-serif;}

.card1-date-container {font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 7px;
    color: #908f90;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;}

.bg-author-image {height: 55px;
    display: flex;
    justify-content: center;}

.comments-container {margin-top: 33px;
    color: #bebebe;
    gap: 20px;
    font-weight: 800;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;}

.comment {font-size: 17px;}

.like {font-size: 17px;
    margin-top: -1px;}

.comment-icon {display: flex;
    margin-top: 2px;
    font-size: 12px;
    margin-right: 7px;
    gap: 6px;}

.like-icon {margin-top: 2px;
    display: flex;
    padding-left: 3px;
    font-size: 12px;
    gap: 5px;}

.comment-icon {padding-right: 2px;
    display: flex;
    margin-top: 2px;
    font-size: 12px;
    margin-right: 7px;
    gap: 6px;}

.like-icon {margin-top: 2px;
    display: flex;
    padding-left: 3px;
    font-size: 12px;
    gap: 5px;}

.henry-container a{outline: none;
    text-decoration: none;
    color: #fbfbfb ;}

.card1-date-container a{outline: none;
    text-decoration: none;
    color: #908f90;}

.comments-container a{outline: none;
    text-decoration: none;
    color: #bebebf;}

.comment-image {font-size: 15px;
    margin-right: 2px;
  }

.like-image {font-size: 16px;}
.bg-author-image a{
    outline: none;
}